.first{
    width:  600px;
    height: 750px;
    
}
#name{
    text-align: justify;
    font-size: 17px;
    flex-direction: column;
    color: grey;
    font-style: normal;
    line-height: 23px;
    text-rendering: optimizeLegibility;
    margin-bottom: 17px;
    display: block;
    font-family: 'Arial Narrow',Arial, Helvetica, sans-serif;
    line-height: 1.4em;
    text-transform: none;
    letter-spacing: 0em;
    font-weight: 400;
    font-style: normal
    
    

}
.one{
    font-style: italic;
    font-size: 20px;
    font-family: "Arial";
    letter-spacing: 0em;
    display: block;
    line-height: 1.4em;
    text-transform: none;
    letter-spacing: 0em;
    font-weight: 400;
    font-style: normal;
    color:black;
    
}
footer{
    color: antiquewhite;
    font-style: italic;
    text-align: center;
    background-color: black;

}
.fa {
    padding: 5px;
    font-size: 10px;
    width: 5px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa-github {
    
    color: white;
  }
.fa-twitter {
    
    color: white;
  }
  .fa-linkedin {
    
    color: white;
  }
  .fa-facebook {
    
    color: white;
  }
.social{
    text-align: center;
}
h1{
    color: #007bb5;
}
main{
    display: flex;
}
.three,.four{
    padding: 10px;
}
  